<!DOCTYPE html>
<html>
<head>
  <title>Solutio</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <%= link_to "Solutio", root_path, class: 'navbar-brand' %>
      <%= render 'layouts/user_header' %>
    </div>
  </div>

  <div class="container">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
</body>
</html>
